<?xml version="1.0"?>
<config>
  <modules>
    <Manv_Imagegallery>
      <version>8.1.1</version>
    </Manv_Imagegallery>
  </modules>
  <frontend>
    <routers>
      <imagegallery>
        <use>standard</use>
          <args>
            <module>Manv_Imagegallery</module>
            <frontName>imagegallery</frontName>
          </args>
      </imagegallery>
    </routers>
		<layout>
		  <updates>
			<imagegallery>
			  <file>imagegallery.xml</file>
			</imagegallery>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <imagegallery>
        <class>Manv_Imagegallery_Helper</class>
      </imagegallery>
    </helpers>
	<blocks>
	  <imagegallery>
		<class>Manv_Imagegallery_Block</class>
	  </imagegallery>
	</blocks>
  </global>
</config> 